

.logo{
    position:absolute;
    top:50px;
    left:25px;
}
.navigation{
    position: relative;
    top: 75px;
    left: 900px;
    color: grey;
    border-top: 75px;
    border-left: 200px;
    padding: 0 25px 0 25px;
    text-decoration: none;
}
.firstImage{
    position: relative;
    left:25px;
    top: 100px;
}
.aside{
    background-color: black;
    width: 380px;
    height: 450px;
    position: relative;
    left: 1020px;
    bottom: 255px;
}
.ah{
    color: rgba(255, 217, 0, 0.834);
    margin-top: 0;
    margin-bottom: 0;
    border-bottom: 0;
    padding-top: 30px;
    padding-bottom: 0;
    padding-left: 20px;

}
.ash{
    color: aliceblue;
    margin-top: 0;
    margin-bottom: 0;
    border-bottom: 0;
    padding-top: 20px;
    padding-bottom: 5px;
    padding-left: 20px;
    padding-right: 20px;
}
.ap{
    color: aliceblue;
    margin-top: 0;
    padding: 5px 20px;
    font-weight: 50;
}
hr{
    border-top-style: 2px solid white;
    border-bottom-style:none;
    border-left-style:none;
    border-right-style:none;
    width:340px ;
}

.section1{
    color: black;
    font-family: font-family: Arial, Helvetica, sans-serif;
    font-size: 60px;
    position: relative;
    bottom: 340px;
    left: 15px;

}
.section2{
    color:rgb(136, 136, 136);
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
    word-spacing: 5px;
    font-size: 18x;
    position: relative;
    bottom: 540px;
    left: 500px;


}
.button{
    background-color: rgb(242, 73, 73);
    border-color:rgb(242, 73, 73);
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: none;
    padding: 12px 34px;
    color: aliceblue;
    position: relative;
    bottom: 540px;
    left: 525px;

}
.button:hover{
    background-color: rgb(234, 244, 94);
    color: rgb(134, 135, 136);
}
.secondImage{
    width: 100px;
    height: 135px;
    position: relative;
    left:25px;
    bottom: 450px;
}
.thirdImage{
    width: 100px;
    height: 135px;
    position: relative;
    left:400px;
    bottom: 450px;
}
.fourthImage{
    width: 100px;
    height: 135px;
    position: relative;
    left:800px;
    bottom: 450px;
}
.secondImagePara{
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1;
    word-spacing: 5px;
    font-size: 18x;
    position: relative;
    left:165px;
    bottom: 610px;
}
.thirdImagePara{
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1;
    word-spacing: 5px;
    font-size: 18x;
    position: relative;
    left:650px;
    bottom: 750px;
}
.fourthImagePara{
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1;
    word-spacing: 5px;
    font-size: 18x;
    position: relative;
    left:1150px;
    bottom: 900px;
}
.grey{
    color: grey;
}